* {
    margin: 0;
    font-family: Verdana, serif;
}

.registration {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%,-50%);
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
    flex-direction: column;
    border: 5px solid #00ffa5;
    text-align: center;
}

input[type=submit] {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #00ffa5;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #00ffa5;
}

.container {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    text-align: justify;
    align-items: center;
    max-width: 1100px;
    min-width: 750px;
}

.left-arrow {
    width: 4%;
    height: 10%;
    background: red;
}

.right-arrow {
    width: 4%;
    height: 10%;
    background: red;
}

.navMenu {
    width: 90%;
}

#quiz-content {
    display: flex;
    align-items: center;
    background: no-repeat url("../static/images/quizBackground.png");
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
}

#quiz {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 25px;
    margin: auto;
    width: 95%;
    height: 90%;
    background: linear-gradient(90deg, rgba(13, 201, 17, .8) 0%, rgba(240, 240, 240, .3) 50%, rgba(255, 0, 0, .8) 100%);
    border: 7px solid yellow;
}

.question {
    margin-left: 8px;
    font-size: 30px;
    font-weight: bold;
}

.multiple-answers .answers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.answers.selected {
    text-shadow: 2px 0 #faff00, -2px 0 #faff00, 0 2px #faff00, 0 -2px #faff00,
    1px 1px #faff00, -1px -1px #faff00, 1px -1px #faff00, -1px 1px #faff00;
    font-size: 20px;
}

.answers {
    transition: all .7s;
}

.multiple-answers {
    margin-left: 8px;
}

input[type=radio] {
    z-index: -10;
    position: absolute;
    top: -100vh;
    left: -100vw;
}

.complete-answer {
    margin-left: 8px;
}