* {
    margin: 0;
    font-family: Verdana, serif;
}

body.darken {
    background-color: rgba(0, 0, 0, 0.3);
}

.registration {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
    flex-direction: column;
    border: 5px solid #00ffa5;
    text-align: center;
}

#leaderboard {
    outline-width: 8px;
    outline-style: dashed;
    border-color: #95600e;
    outline-offset: 11px;
    width: 700px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: red;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background: no-repeat url("../static/images/leaderboard.png");
    background-size: 100% 100%;
}

.whiteBG {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(255,255,255, .5);
}

.navigation-tool {
    display: flex;
    justify-content: space-between
}

.confirmBox {
    background: red;
    width: 120px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #000000;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.confirmBox a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.hidden {
    display: none !important;
}

input[type=submit] {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #00ffa5;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #00ffa5;
}

.container {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    min-width: 750px;
}

.right-arrow {
    cursor: pointer;
}

.answer-container {
    background: rgb(56,56,56);
    width: 100%;
    height: 100px;
    color: white;
    font-size: 20px;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #FCFF00;
    border-radius: 0px 0px 30px 30px;
}

.navMenu {
    width: 90%;
}

#quiz-content {
    display: flex;
    align-items: center;
    background: no-repeat url("../static/images/quizBackground.png");
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
}

#quiz {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 25px;
    margin: auto;
    width: 95%;
    height: 90%;
    background: linear-gradient(90deg, rgba(13, 201, 17, .9) 0%, rgba(240, 240, 240, .5) 50%, rgba(255, 0, 0, .9) 100%);
    border: 7px solid yellow;
}

.question {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 30px;
    font-weight: bold;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #FCFF00;
}

.multiple-answers .answers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.answers.selected {
    text-shadow: 2px 0 #faff00, -2px 0 #faff00, 0 2px #faff00, 0 -2px #faff00,
    1px 1px #faff00, -1px -1px #faff00, 1px -1px #faff00, -1px 1px #faff00;
    font-size: 45px;
}

.answers {
    font-weight: 900;
    font-size: 40px;
    height: 70px;
    transition: all .2s;
}

.multiple-answers {
    margin-right: 8px;
    margin-left: 8px;
}

input[type=radio] {
    z-index: -10;
    position: absolute;
    top: -100vh;
    left: -100vw;
}

.complete-answer {
    margin-left: 8px;
}

.hidden-opacity {
    color: rgba(0, 0, 0, 0);
}